/* Design fot media queries */
@media (min-width: 1200px) {
  .days {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 80%;
    margin: auto;
  }

  .graph {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .months {
    display: flex;
    padding-left: 10px;
    overflow-x:visible;
    white-space: nowrap;
  }

  .days {
    padding: 0px 0px 5px 0px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90%;
    margin: auto;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items:start;
  }

  .left h1 {
    line-height: .8;
    padding: 45px 0px 10px 0px;
  }

  .right h1 {
    line-height: .5;
    padding: 10px 0px 0px 0px;
  }
}

/* Design for all the pages */
body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 19px;
  line-height: 1.5;
  background: #ffffff;
  max-width: 1190px;
  margin: auto;
}

ul {
  list-style-type: none;
}
  
li {
  margin-top: 0px;
  font-family: "Roboto Mono", sans-serif;
}
  
a {
  color: #2A6EA6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #000;
  clear: both;
  padding-top: 30px;
  margin: 0;
}

a.social {
  margin: 0px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: right;
}

p {
    text-align: justify;
}

.main {
    display: flex;
    justify-content: space-between;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.left h1 {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

footer {
  font-size: 15px;
  text-align: center;
  margin: 40px 0px 40px 0px;
}

footer a {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Design for the running page */
:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
  }

.graph {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 10px 10px 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  display: inline-grid;
  grid-template-areas: "days scroll-container";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
}

.scroll-container {
  grid-area: scroll-container;
  overflow-x: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.days {
  grid-area: days;
  /* padding: 20px 0px 0px 0px; */
  margin: 0px;
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-area: squares;
  padding: 0px 0px 10px 10px;
  margin: 0px;
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.months {
  grid-area: months;
  display: grid;
  margin: 1px;
  padding: 0px 0px 0px 60px;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                          calc(var(--week-width) * 4) /* Feb */
                          calc(var(--week-width) * 4) /* Mar */
                          calc(var(--week-width) * 5) /* Apr */
                          calc(var(--week-width) * 4) /* May */
                          calc(var(--week-width) * 4) /* Jun */
                          calc(var(--week-width) * 5) /* Jul */
                          calc(var(--week-width) * 4) /* Aug */
                          calc(var(--week-width) * 4) /* Sep */
                          calc(var(--week-width) * 5) /* Oct */
                          calc(var(--week-width) * 4) /* Nov */
                          calc(var(--week-width) * 5) /* Dec */;
}

.days li:nth-child(even) {
  visibility: hidden;
}

.days li {
  margin-bottom: 2px;
}

.squares li {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

/* https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

.squares li[data-level="10"] {
  background-color: #03071E;
}

.squares li[data-level="9"] {
  background-color: #370617;
}

.squares li[data-level="8"] {
  background-color: #6A040F;
}

.squares li[data-level="7"] {
  background-color: #9D0208;
}

.squares li[data-level="6"] {
  background-color: #D00000;
}

.squares li[data-level="5"] {
  background-color: #DC2F02;
}

.squares li[data-level="4"] {
  background-color: #E85D04;
}

.squares li[data-level="3"] {
  background-color: #F48C06;
}

.squares li[data-level="2"] {
  background-color: #FAA307;
}

.squares li[data-level="1"] {
  background-color: #FFBA08;
}

.squares li[data-level="0"] {
  background-color: #edebeb;
  transition: background-color 0.3s ease;
}

#tooltip {
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.squares li:hover #tooltip {
  visibility: visible;
  opacity: 1;
}

::-moz-selection {
  color: #ffffff;
  background: #2A6EA6;
}

::selection {
  color: #ffffff;
  background: #2A6EA6;
}