/* Design fot media queries */
@media (min-width: 950px) {
  .days {
    padding: 14px 0px 0px 0px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 80%;
    margin: auto;
  }

  .container-404 {
    max-width: 90%;
    margin: auto;
  }

  .graph {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .months {
    display: flex;
    padding-left: 10px;
    overflow-x:visible;
    white-space: nowrap;
  }

  .days {
    padding: 0px 0px 6px 0px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90%;
    margin: auto;
  }

  .container-404 {
    max-width: 90%;
    margin: auto;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items:start;
  }

  .left h1 {
    line-height: .8;
    padding: 45px 0px 10px 0px;
  }

  .right h1 {
    line-height: .5;
    padding: 10px 0px 0px 0px;
  }
}

/* Design for all the pages */
body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  background: #ffffff;
  max-width: 850px;
  margin: auto;
  padding-bottom: 60px;
}

body.p404 {
  background-image: url("https://a.slack-edge.com/80588/img/404/marrakesh-meadow-80.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  
  margin: 0;
  max-width: none;
  position: relative;
  transition: background-position 0.1s ease-out;
}

ul {
  list-style-type: none;
}
  
li {
  margin-top: 0px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 17px;
}
  
a {
  color: #000000;
  text-decoration:underline lightgrey;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}

a::selection {
  text-decoration:underline lightgrey;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}

h1 {
  color: #000;
  clear: both;
  padding-top: 30px;
  margin: 0;
}

a.social {
  margin: 0px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: right;
}

a.a-blog-page-entry {
  text-decoration: none;
  color: inherit;
  display: contents;
}

a.a-blog-page-entry:hover .blog-page-entry {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

p {
    text-align: justify;
    overflow-wrap: break-word;
}

.main {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  padding: 10px 0;
}

.main-404{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.left h1 {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

footer {
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 15px 0;
  z-index: 100;
}

footer a {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Design for the running page */
:root {
  --square-size: 11px;
  --square-gap: 3px;
  --week-width: calc(var(--square-size) + var(--square-gap));
  }

.graph {
  padding: 15px;
  border: 1px #e1e4e8 solid;
  margin: 10px 10px 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  display: inline-grid;
  grid-template-areas: "days scroll-container";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
}

.scroll-container {
  grid-area: scroll-container;
  overflow-x: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.days {
  grid-area: days;
  /* padding: 20px 0px 0px 0px; */
  margin: 0px;
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-area: squares;
  padding: 0px 0px 10px 10px;
  margin: 0px;
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.months {
  grid-area: months;
  display: grid;
  margin: 1px;
  padding: 0px 0px 0px 45px;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                          calc(var(--week-width) * 4) /* Feb */
                          calc(var(--week-width) * 4) /* Mar */
                          calc(var(--week-width) * 5) /* Apr */
                          calc(var(--week-width) * 4) /* May */
                          calc(var(--week-width) * 4) /* Jun */
                          calc(var(--week-width) * 5) /* Jul */
                          calc(var(--week-width) * 4) /* Aug */
                          calc(var(--week-width) * 4) /* Sep */
                          calc(var(--week-width) * 5) /* Oct */
                          calc(var(--week-width) * 4) /* Nov */
                          calc(var(--week-width) * 5) /* Dec */;
}

.days li:nth-child(even) {
  visibility: hidden;
}

.days li {
  margin-bottom: 1px;
}

.squares li {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

/* https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

.squares li[data-level="10"] {
  background-color: #03071E;
}

.squares li[data-level="9"] {
  background-color: #370617;
}

.squares li[data-level="8"] {
  background-color: #6A040F;
}

.squares li[data-level="7"] {
  background-color: #9D0208;
}

.squares li[data-level="6"] {
  background-color: #D00000;
}

.squares li[data-level="5"] {
  background-color: #DC2F02;
}

.squares li[data-level="4"] {
  background-color: #E85D04;
}

.squares li[data-level="3"] {
  background-color: #F48C06;
}

.squares li[data-level="2"] {
  background-color: #FAA307;
}

.squares li[data-level="1"] {
  background-color: #FFBA08;
}

.squares li[data-level="0"] {
  background-color: #edebeb;
}

#tooltip {
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.squares li:hover #tooltip {
  visibility: visible;
  opacity: 1;
}

::-moz-selection {
  color: #000000;
  background: lightgrey;
}

::selection {
  color: #000000;
  background: lightgrey;
}

.container-404 {
  text-align: center;
  align-items: center;
  background: #ffffff;
  opacity: .8;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  width: 650px;
  margin: 20px 20px 20px 20px;
}

/*Blogs*/
.blog-page-entry {
  text-align: justify;
  background: #f1f1f1;
  padding: 2px 25px 5px 25px;
  border-radius: 3px;
  margin: 25px 0px;
  max-width: 850px;
  user-select: none;
}

.blog-page-title {
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}

.blog-page-summary {
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.blog-page-meta {
  font-style: italic;
  font-size: 13px;
}

.blog-title {
  margin-bottom: 5px;
}

.blog-meta {
  font-style: italic;
  font-size: 15px;
  margin: 0px 0px 5px 0px;
}

.tags-container {
  margin: 0px 0px;
  padding: 5px 25px;
}

#tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 5px 0px;
}

.filter-tag {
  display: inline-block;
  background-color: #e0e0e0;
  color: #525252;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.1s ease;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.filter-tag:hover {
  background-color: #cacaca;
}

.filter-tag.selected {
  background-color: #747474;
  color: white;
}

.blog-page-tags {
  margin: 2px 0px 8px 0px;
  display: flex;
  flex-wrap: wrap;  
  gap: 10px;
    
}

.blog-page-tag {
  display: inline-block;
  background-color: #e0e0e0;
  color: #525252;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
}

.blog-tags {
  margin: 10px 0px 25px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.blog-tag {
  display: inline-block;
  background-color: #f1f1f1;
  color: #525252;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.blog-tag:hover {
  background-color: #e0e0e0;
}

.blog-content p {
  margin: 5px 0px;
  text-align: justify;
  font-size: 15px;
}

.blog-content p.head1 {
  font-size: 23px;
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

.blog-content p.head2 {
  font-size: 21px;
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

.blog-content p.head3 {
  font-size: 19px;
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

.blog-content code {
  padding: 2px 2px;
  font-size: 15px;
}

.blog-content p code {
  background: #f1f1f1;
}

.blog-content li code {
  background: #f1f1f1;
}

/* Table of contents */
details {
  text-align: justify;
  background: #f1f1f1;
  padding: 6px 25px 6px 25px;
  border-radius: 3px;
  margin: 15px 0px;
  max-width: 850px;
  user-select: none;
  text-decoration: none;
}

details::selection {
  text-decoration: none;
}

.inner a {
  color: dimgrey;
  text-decoration: none;
}

.inner a::selection {
  text-decoration: none;
}

.inner a:hover {
  color: #363636;
}

.inner ul {
  color: dimgrey;
  list-style: "> ";
  padding-left: 20px;
}

.inner ul:hover {
  color: #363636;
}

.blog-content ul {
  list-style: "> ";
  padding-left: 20px;
  margin: 10px 0px;
}

.blog-content ul li {
  font-size: 15px;
  margin: 5px 0px;
}

summary {
  cursor: pointer;
  color: dimgrey;
}

summary:hover {
  color: #363636;
}

/* Code Container */
.code-container {
  position: relative;
  margin: 0px 0px;
  border-radius: 4px;
  overflow: hidden;
}
  
.copy-button {
  position: absolute;
  top: 24px;
  right: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 2px;
  opacity: 0.7;
  transition: opacity 0.2s;
  z-index: 10;
}
  
.copy-button:hover {
  opacity: 1;
}
  
.copy-button .success-icon {
  display: none;
}

.copy-button.copied .copy-icon {
  display: none;
}
  
.copy-button.copied .success-icon {
  display: inline-block;
}

.code-container pre code {
  font-size: 14px;
}
.code-container pre {
  line-height: 1.4;
}

/* Image */
img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

figcaption {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

figure {
  margin: 12px 0px;
  text-align: center;
}

/* Math Content */
.math-content {
  text-align: justify;
  background: #f1f1f1;
  padding: 6px 25px 6px 25px;
  border-radius: 3px;
  margin: 15px 0px;
  max-width: 100%;
}

.math-content p {
  font-size: 17px;
  font-family: "cmu.serif-roman";
}

details.math-content {
  user-select: auto;
}

/* Latex(Katex) */
@font-face {
  font-family: 'cmu.serif-roman';
  src: url('/cmu.serif-roman.ttf') format('truetype');
}

.math-content .katex {
  font-size: 0.95em !important;
  font-weight: 200 !important;
  user-select: none;
  -webkit-user-select: none;
}

 .katex {
  font-size: 1.1em !important;
  font-weight: 200 !important;
  user-select: none;
  -webkit-user-select: none;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  padding: 0.5em 0;
}

/* Table */
.table-container {
    max-width: 100%;
    overflow-x: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #333;
}

.data-table thead {
    background-color: #4a4a4a;
    color: white;
}

.data-table th {
    padding: 15px 20px;
    text-align: left;
    font-weight: 100;
    font-size: 15px;
}

.data-table th:first-child {
    border-top-left-radius: 4px;
}

.data-table th:last-child {
    border-top-right-radius: 4px;
}

.data-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

.data-table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.data-table tbody tr:last-child {
    border-bottom: none;
}

.data-table td {
    padding: 10px 20px;
    vertical-align: middle;
}

.data-table td:first-child {
    color: #515151;
    font-size: 15px;
}

.table-caption {
    text-align: center;
    font-size: 13px;
    color: #555;
    padding: 5px 0px;
    border-top: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
    .data-table th {
        padding: 10px 15px;
        font-size: 12px;
    }

    .data-table td {
        padding: 5px 15px;
        font-size: 12px;
    }
    
    .data-table th {
        font-size: 13px;
    }

    .data-table td:first-child {
    font-size: 13px;
}
}